<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <style>
        body{
            background-image: url("https://t3.ftcdn.net/jpg/03/55/60/70/240_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
            background-size: cover;
        }
    </style>
</head>
<body>
    <center>
    <h1>Welcome to our User-Login page!<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
    </body>
    </html></h1>
    <fieldset>
        <form action="/check-user" method="post">
            <table>
                <tr>
                    <td>Email:</td>
                    <td><input type='email' placeholder='eg. abc@gmail.com' name="email"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type='password' placeholder='' name="password"></td>
                </tr>
                <tr>
                    <td><input type='submit' value='Submit'></td>
                    <td><input type='reset' value='Refresh'></td>
                </tr>
            </table>
        </form>
    </fieldset>
    <h4><a href="/">Back to Home</a></h4>
    <h4><a href="/user-registration">New User?</a></h4>
    </center>
</body>
</html>